<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


</head>
<body>

<!-- templates/to-do-list.html -->
{% extends "base.html" %}

{% block title %}To-Do List{% endblock %}

{% block content %}
    <div class="todolist-container">

        <form action="/add" method="POST">
            <header>
                To-Do List
            </header>

            <div class="input-icon">
                <input type="text" name="task" id="task" placeholder="Enter Task">
                <button type="submit">Add</button>
            </div>
        </form>

        {%if tasks%}
            <ul>
                {% for task in tasks %}
                    <li>{{ task[1] }}</li> <!-- assuming task[1] is the 'task' column -->
                {% endfor %}
            </ul>
            {% else %}
                <p>No tasks yet.</p>
            {% endif %}

    </div>
{% endblock %}



    
</body>
</html>